@model IEnumerable<VMS_homework.Models.OppTable>
@{
    ViewBag.Title = "MostRecent";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Most Recent</h2>

<table>
    <tr>
        <th>Opportunity</th>
        <th>Opportunity Center</th>
        <th>Opportunity Start date</th>
        <th>Opportunity Stop date</th>
        <th>Opportunity Last Completed</th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>@Html.DisplayFor(modelItem => item.Opportunity)</td>
            <td>@Html.DisplayFor(modelItem => item.OpportunityCenter)</td>
            <td>@Html.DisplayFor(modelItem => item.OpportunityStartDate)</td>
            <td>@Html.DisplayFor(modelItem => item.OpportunityStopDate)</td>
            <td>@Html.DisplayFor(modelItem => item.OpportunityLastComp)</td>
            <td> @Html.ActionLink("Edit", "Edit", "OppTable", new { id = item.Opportunity }, null)</td>
        </tr>
    }



</table>
    