@model IEnumerable<VMS_homework.Models.OppTable>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Opportunity)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.OpportunityStartDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.OpportunityStopDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.OpportunityLastComp)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.OpportunityCenter)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Opportunity)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.OpportunityStartDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.OpportunityStopDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.OpportunityLastComp)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.OpportunityCenter)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Id }) |
            @Html.ActionLink("Details", "Details", new { id=item.Id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Id })
        </td>
    </tr>
}

</table>
